.container-fluid.mt-3.mb-5 
    .row.g-3 
        each val in [1, 2, 3, 4, 5]
            .col-lg-4 
                .card-task 
                    .card-header 
                        h5 Mohamed Alaa Said
                        p 20/09/2024
                    .card-body 
                        table.table.table-bordered.table-striped
                            thead 
                                tr 
                                    th.text-center(colspan='2') No. 
                                    th.text-center Fo 
                                    th.text-center Cr
                                    th.text-center Type
                                    th.text-center Status
                                    th.text-center Action
                                tbody 
                                    tr 
                                        td.bg-primary(style="width:5px")
                                        td.text-center 101
                                        td.text-center VAC 
                                        td.text-center 2 
                                        td.text-center S 
                                        td.text-center 
                                            .text Cleaned
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-warning(style="width:5px")
                                        td.text-center 115
                                        td.text-center OCC 
                                        td.text-center 5 
                                        td.text-center Vip 
                                        td.text-center 
                                            .text For inspection	
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-success(style="width:5px")
                                        td.text-center 132
                                        td.text-center OCC 
                                        td.text-center 3 
                                        td.text-center D 
                                        td.text-center 
                                            .text Inspected
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-danger(style="width:5px")
                                        td.text-center 127
                                        td.text-center VAC 
                                        td.text-center 7 
                                        td.text-center t 
                                        td.text-center 
                                            .text DND
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-primary(style="width:5px")
                                        td.text-center 101
                                        td.text-center VAC 
                                        td.text-center 2 
                                        td.text-center S 
                                        td.text-center 
                                            .text Cleaned
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-warning(style="width:5px")
                                        td.text-center 115
                                        td.text-center OCC 
                                        td.text-center 5 
                                        td.text-center Vip 
                                        td.text-center 
                                            .text For inspection	
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-success(style="width:5px")
                                        td.text-center 132
                                        td.text-center OCC 
                                        td.text-center 3 
                                        td.text-center D 
                                        td.text-center 
                                            .text Inspected
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-danger(style="width:5px")
                                        td.text-center 127
                                        td.text-center VAC 
                                        td.text-center 7 
                                        td.text-center t 
                                        td.text-center 
                                            .text DND
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-success(style="width:5px")
                                        td.text-center 132
                                        td.text-center OCC 
                                        td.text-center 3 
                                        td.text-center D 
                                        td.text-center 
                                            .text Inspected
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                                    tr 
                                        td.bg-danger(style="width:5px")
                                        td.text-center 127
                                        td.text-center VAC 
                                        td.text-center 7 
                                        td.text-center t 
                                        td.text-center 
                                            .text DND
                                        td.text-center 
                                            a(type='button',)
                                                i.fa-solid.fa-pen-to-square
                    .card-footer 
                        .border-top.d-flex.justify-content-between.p-1 
                            .title Seq: 
                            .total-task 
                                span.task-stats.text-danger 2 | 
                                span.task-stats.text-success 5 | 
                                span.task-stats.text-warning 3 
                        .border-top.d-flex.justify-content-between.p-1 
                            .title Rooms: 6  
                            .title Credits: 29 
                            .title Floors: 1 
                            
                            

