meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-  Fav Icon
link(rel='shortcut icon' href='./assets/images/main-logo.png' type='image/x-icon')
link(rel='icon' href='./assets/images/main-logo.png' type='image/x-icon')
//-  Title Website
title Alhytt Jeddah Continental Hotel
//-  Font awesome V6.4.0
link(rel="stylesheet", href="./assets/css/fontawesome.min.css")
//-  Bootstrap V5.3.0
link(rel="stylesheet", href="./assets/css/bootstrap.min.css")
//-  Main Style Project
link(rel="stylesheet", href="./assets/css/style.css")

