nav.nav-bar-body 
  .logo 
    img.large-logo(src="../assets/images/logoWhite.png", alt="")
    //- img.small-logo(src="../assets/images/main-logo.png", alt="")
  .icon-toggle.show-aside 
    i.fas.fa-stream.fa-flip-horizontal.fa-fw.fa-xl
  .icon-toggle.expand-aside
    include ../../assets/images/Svg/Aside.svg