// Modal
//- Start model-filter-home
#exampleModal.modal.fade.model-filter-home(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog.modal-xl
    .modal-content
    
      .modal-body
        .container-fluid 
          .row 
            .col-lg-12.mb-3 
              h4.title Status
              .group-button-toggle
                .btn-toggle.mx-2.bg-outline-open.rounded-pill.d-flex.align-items-center.p-2 
                  .icon.me-1 
                    i.fa-regular.fa-circle-play
                  .text Open
                .btn-toggle.mx-2.bg-outline-process.rounded-pill.d-flex.align-items-center.p-2 
                  .icon.me-1 
                    i.fa-regular.fa-circle-pause
                  .text Hold
                .btn-toggle.mx-2.bg-outline-Completed.rounded-pill.d-flex.align-items-center.p-2 
                  .icon.me-1 
                    i.fa-solid.fa-lock
                  .text Closed
                .btn-toggle.mx-2.bg-outline-Hold.rounded-pill.d-flex.align-items-center.p-2 
                  .icon.me-1 
                    i.fa-regular.fa-clock
                  .text In process
                .btn-toggle.mx-2.bg-outline-Closed.rounded-pill.d-flex.align-items-center.p-2 
                  .icon.me-1 
                    i.fa-regular.fa-circle-check
                  .text Completed
            .col-lg-6.mb-3
              h5.fw-bold Order number
              .d-flex.mb-3.flex-wrap
                .form-group.d-flex.col-md-6.px-2.align-items-center.col-sm-12.mb-3
                  label.col-4.text-end.pe-2(for='') From
                  input.form-control(type='text')
                .form-group.d-flex.col-md-6.px-2.align-items-center.col-sm-12.mb-3
                  label.col-4.text-end.pe-2(for='') To
                  input.form-control(type='text')
              .form-group
                label.fw-bold(for='') Location
                input.form-control(type='text')
                

            .col-lg-6
              h5.fw-bold Run Time
              .d-flex.mb-3.flex-wrap
                .form-group.d-flex.col-md-6.align-items-center.col-sm-12.mb-3.col-lg-6
                  label.col-4.text-end.pe-2(for='') From
                  input.form-control(type='time')
                .form-group.d-flex.col-md-6.align-items-center.col-sm-12.mb-3.col-lg-6
                  label.col-4.text-end.pe-2(for='') To
                  input.form-control(type='time')
              label.fw-bold Date
              .d-flex.mb-3.flex-wrap
                .form-group.d-flex.col-md-6.align-items-center.col-sm-12.mb-3.col-lg-6
                  label.col-4.text-end.pe-2(for='') From
                  input.form-control(type='date')
                .form-group.d-flex.col-md-6.align-items-center.col-sm-12.mb-3.col-lg-6
                  label.col-4.text-end.pe-2(for='') To
                  input.form-control(type='date')
      .modal-footer.justify-content-start 
        button.btn.btn-primary.btn-apply.rounded-pill.col-7(type='button') Apply Filters
        button.btn.btn-light.rounded-pill(type='button', data-bs-dismiss='modal') Cancel
        button.btn.btn-light.rounded-pill(type='button', ) Reset
//- End model-filter-home
//- Start model-Add-Item
#AddItem.modal.fade.model-filter-home(tabindex='-1', aria-labelledby='AddItemLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 Add Item
          
        button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
      .modal-body
        .container-fluid 
          .row 
            .col-lg-12.mb-2
              .form-group
                label English Name
                input.form-control(type='text')
            .col-lg-12.mb-2
              .form-group
                label Arabic Name
                input.form-control(type='text')
            .col-lg-12.mb-2
              .form-check
                input#flexCheckDefault.form-check-input(type='checkbox', value='')
                label.form-check-label(for='flexCheckDefault')
                  | Service
            .col-lg-6.mb-2
              .form-group
                label Quantity
                input.form-control(type='text')
            .col-lg-6.mb-2
              .form-group
                label Minima Quantity
                input.form-control(type='text')
            .col-lg-12.mb-3 
              h5.mb-3 Department
              .group-button 
                span.btn.rounded-pill.btn-outline-master.mb-3.active Maintenance
                span.btn.mx-1.rounded-pill.btn-outline-master.mb-3 Reception
                span.btn.mx-1.rounded-pill.btn-outline-master.mb-3 Delivery
                span.btn.rounded-pill.btn-outline-master.mb-3 Procurement 
            .col-lg-12.mb-3
              h5.mb-2 Assignee
              .label-Assignee
                .icon 
                  span K
                .text Katef
      .modal-footer.justify-content-start 
        button.btn.btn-primary.btn-apply.rounded-pill.col-12(type='button' data-bs-toggle="modal" data-bs-target="#ConfirmAddItem") ADD 
//- End model-filter-home
//- Start model-Change Assignee
#ChangeAssignee.modal.fade.model-filter-home(tabindex='-1', aria-labelledby='ChangeAssigneeLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 Change Item
          
        button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
      .modal-body
        .container-fluid 
          .row 
            .col-lg-12.mb-3
              h5.mb-2 Items
              .label-Assignee
                .text Cold Tea ( 5 )
            .col-lg-8.mb-3
              .form-group
                select#selectItem.form-select.form-control-lg
                  option Cold Drinks
                  option Cold Tea
                  option Cold Can
                  option Blanket
                  option Cold Drinks 
                  option Water Bottles
                  option Add New
            .col-lg-4.mb-3      
              .increment-item    
                .input-group
                  button#decrementButton.btn.btn-outline-master.btn-decrease(type='button') 
                    i.fa-solid.fa-minus
                  input#inputCount.form-control(type='text',  min="1", max="99" value="1")
                  button#incrementButton.btn.btn-outline-master.btn-increase(type='button' ) 
                    i.fa-solid.fa-plus
      .modal-footer.justify-content-start 
        button.btn.btn-primary.btn-apply.rounded-pill.col-12(type='button' data-bs-toggle="modal" data-bs-target="#ConfirmAddItem") Change 
//- End model-filter-home
//- Start model-Change Assignee
#ChangeDepartment.modal.fade.model-filter-home(tabindex='-1', aria-labelledby='ChangeDepartmentLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 Department
          
        button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
      .modal-body
        .container-fluid 
            h5.mb-3 Department
            .group-button.d-flex.flex-wrap 
              span.btn.mx-1.rounded-pill.btn-outline-master.mb-3.active Maintenance
              span.btn.mx-1.rounded-pill.btn-outline-master.mb-3 Reception
              span.btn.mx-1.rounded-pill.btn-outline-master.mb-3 Delivery
              span.btn.mx-1.rounded-pill.btn-outline-master.mb-3 Procurement 
                  

      .modal-footer.justify-content-start 
        button.btn.btn-primary.btn-apply.rounded-pill.col-12(type='button' data-bs-toggle="modal" data-bs-target="#ConfirmAddItem") Change 
//- End model-filter-home

//- Start model-state-Table
#modelStateTable.modal.fade.model-state-Table(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        .modal-title.d-flex.flex-wrap.align-items-center 
          .bg-open.text-dark.rounded-pill.px-4.py-1.mb-2 Open
          .inputs-group.mx-3.mb-2 
            .label Order Created
            .input-value.d-flex.algin-items-center 
              span.icon.me-2.text-primary 
                i.fa-solid.fa-calendar-days.fa-fw
              span.text 15 May, 2023
          .inputs-group.mx-3.mb-2 
            .label &nbsp;
            .input-value.d-flex.algin-items-center 
              span.icon.me-2.text-primary 
                i.fa-regular.fa-clock.fa-fw
              span.text 2:00PM
          .inputs-group.mx-3.mb-2 
            .label Run time
            .input-value.d-flex.algin-items-center 
              span.icon.me-2.text-primary 
                i.fa-solid.fa-hourglass.fa-fw
              span.text 02h: 05minutes
        button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
      .modal-body.p-0
        .container-fluid 
          .row 
            .col-lg-7.col-md-12.col-sm-12
            .col-lg-5.col-md-12.col-sm-12
              .Recent-part.p-3 
                h5.title Recent Activity
                .list-group
                  .list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                      h5.mb-1.title Hassan Task Created
                      small 20 min ago
                    small.note Created at 15/05/202 - 2:00PM
                  .list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                      h5.mb-1.title Hassan Added Products
                      small 25 min ago
                    small.note Added at 15/05/202 - 2:00PM
                  .list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                      h5.mb-1.title Hassan Assigned to Kattef
                      small 35 min ago
                    small.note Assigned at 15/05/202 - 2:00PM
                  .list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                      h5.mb-1.title Hassan Assigned to Kattef
                      small 35 min ago
                    small.note Added at 15/05/202 - 2:00PM
                  .list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                      h5.mb-1.title Kattef Completed Order
                      small 35 min ago
                    small.note Added at 15/05/202 - 2:00PM
                  .list-group-item.list-group-item-action
                    .d-flex.w-100.justify-content-between
                      h5.mb-1.title Hassan Marked as finished
                      small 35 min ago
                    small.note Added at 15/05/202 - 2:00PM
                  
  
      

//- End model-state-Table

//- Start Model Order Placed
// Modal
#OrderPlaced.modal.fade(tabindex='-1', aria-labelledby='OrderPlacedLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered 
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold  Order Placed
          p.mb-3  Your has been order placed and SMS has been sent successfully. To Preview the SMS 
            a(href="") Click here
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='CreateOrderGeneralAddItem.html') Continue
      

//- End Model 
//- Start Model Order Placed
// Modal
#OrderSMS.modal.fade(tabindex='-1', aria-labelledby='OrderSMSLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold  Message Resent
          p.mb-3  Your has been resent.
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='LayoutDashboard.html') Continue
      

//- End Model 
//- Start Model Order Placed
//- Modal
#ConfirmAddItem.modal.fade(tabindex='-1', aria-labelledby='OrderSMSLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold  Item Added
          p.mb-3  Your item has been added successfully.
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='Items.html') Continue
      

//- End Model 
//- Modal
#ConfirmSteps.modal.fade(tabindex='-1', aria-labelledby='ConfirmStepsLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold  Inspection submitted
          p.mb-3  Your inspection has been submitted. Thank you so much
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='LayoutDashboard.html') Continue
      

//- End Model 
//- Modal
#PublishSetupRoom.modal.fade(tabindex='-1', aria-labelledby='PublishSetupRoomLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold  Inspection form Published
          p.mb-3  Your inspection has been published.
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='Inspection.html') Continue
      

//- End Model 
//- Modal
#AddUser.modal.fade(tabindex='-1', aria-labelledby='AddUserLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold  User Added
          p.mb-3  We have sent email to added email address to login.
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='LayoutDashboard.html') Continue
      

//- End Model 
//- Modal
#AddDepartment.modal.fade(tabindex='-1', aria-labelledby='AddDepartmentLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold  Department Added
          p.mb-3  We have sent email to added email address to login.
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='LayoutDashboard.html') Continue
      

//- End Model 
//- Modal
#PasswordChanged.modal.fade(tabindex='-1', aria-labelledby='PasswordChangedLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold Password has been changed.
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='ProfileSettings.html') Continue
      

//- End Model 
//- Modal Add Phone
#AddPhone.modal.fade(tabindex='-1', aria-labelledby='AddPhoneLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          
          h3.mb-3.fw-bold.text-primary Add new mobile number
          p.mb-3  Please add your mobile number here, we will be verifying the mobile number by sending 4 digit OTP
          .mb-3
            input#exampleFormControlInput1.form-control(type='text', placeholder='+966 55 176 6662')
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='#' data-bs-toggle="modal" data-bs-target="#PasswordOTP") Submit
      

//- End Model 
//- Modal Add Email
#AddEmail.modal.fade(tabindex='-1', aria-labelledby='AddEmailLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          
          h3.mb-3.fw-bold.text-primary Add email address
          p.mb-3  Please add your email address here, we will be verifying the email by sending 4 digit OTP
          .mb-3
            input#exampleFormControlInput1.form-control(type='email', placeholder='name@example.com')
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='#' data-bs-toggle="modal" data-bs-target="#EmailOTP") Submit
      

//- End Model 
//- Modal Add Email
#EmailOTP.modal.fade(tabindex='-1', aria-labelledby='EmailOTPLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          
          h3.mb-3.fw-bold.text-primary Email OTP Verification
          p.mb-3  Please type OTP as shared on your email address
          .inputs-otp
            input.input-otp(type='number')
            input.input-otp(type='number', disabled='')
            input.input-otp(type='number', disabled='')
            input.input-otp(type='number', disabled='')

          p OTP not recieved? 
            a(href="#") RESEND
          a.btn.btn-primary.px-5.rounded-pill.Verify(href='#' disabled data-bs-toggle="modal" data-bs-target="#VerifyEmail") Verify
      

//- End Model 
//- Modal
#VerifyEmail.modal.fade(tabindex='-1', aria-labelledby='VerifyEmailLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold Verification Complete
          p.mb-3 Thank you for verifying the email address. Your new email has been added.
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='ProfileSettings.html') Continue
      

//- End Model 
//- Modal Add Email
#PasswordOTP.modal.fade(tabindex='-1', aria-labelledby='PasswordOTPLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          
          h3.mb-3.fw-bold.text-primary Mobile number verification
          p.mb-3  Please type OTP as shared on your mobile number +966 55 176 6662
          .inputs-otp
            input.input-otp(type='number')
            input.input-otp(type='number', disabled='')
            input.input-otp(type='number', disabled='')
            input.input-otp(type='number', disabled='')

          p OTP not recieved? 
            a(href="#") RESEND
          a.btn.btn-primary.px-5.rounded-pill.Verify(href='#' disabled data-bs-toggle="modal" data-bs-target="#VerifyPassword") Verify
      

//- End Model 
//- Modal
#VerifyPassword.modal.fade(tabindex='-1', aria-labelledby='VerifyPasswordLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      
      .modal-body.text-center.p-5
        
          .icon.mb-3.text-primary 
            i.fa-solid.fa-circle-check.fa-fw.fa-9x 
          h3.mb-3.fw-bold Verification Complete
          p.mb-3 Thank you for verifying the number. Your new mobile number has been added.
          a.btn.btn-master.px-5.rounded-pill.btn-Create-Order(href='ProfileSettings.html') Continue
      

//- End Model 