 aside.aside-bar{
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  width: 300px;
  background-color: #005DAA;
  height: 100svh;
  display: flex;
  flex-direction: column;
  z-index: 999;
  .header  {
    text-align: center;
    padding: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
    a.image {
      
      .large-logo {
        display: block;
        width: 100%;
        
      }
      .small-logo {
        display: none;
      }
    }
  }
  .body-aside-bar {
    flex-grow: 2;
    background-color: #fff;
    border-start-end-radius: 20px;
    ul {
      height: 84%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 5px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-block: 25px;
      li {
        padding-inline: 10px  ;
        a {
          display: flex;
          align-items: center;
          gap: 5px;
          border-radius: 90px;
          padding: 7px 25px;
          .icon {
            svg {
              width: 25px;
              height: 25px;
              // fill: #fff;
            }
          }
          .text {
            color: #333;
            font-weight: 500;
          }
          &[aria-expanded="false"] {
            position: relative;
            &::after {
              content: '\f0dd';
              font-family: 'Font Awesome 6 Free';
              font-weight: 900;
              position: absolute;
              inset-inline-end: 20px;
              color: #333;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &[aria-expanded="true"] {
            position: relative;
            background-color: #EBF5FF;
            .text {
              color: #005DAA;
            }
            svg {
              fill: #005DAA;
              path {
                fill: #005DAA;

              }
            }
            &::after {
              content: '\f0de';
              font-family: 'Font Awesome 6 Free';
              font-weight: 900;
              position: absolute;
              inset-inline-end: 20px;
              color: #333;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        .collapse {
          
          margin-inline-start: 10px;
          padding-block: 5px;
          a {
            margin-bottom: 5px;
            background-color: #fff !important;
            color: #333 !important;
            padding: 5px 15px;
            .text {

              color: #333 !important;
            }
            &:hover {
              background-color: rgba(235, 245, 255, 0.5);
            }
          }
        }
        &.active {
          
          a {
            background-color: #EBF5FF;
            .text {
              color: #005DAA;
            }
            svg {
              fill: #005DAA;
              path {
                fill: #005DAA;

              }
            }
          }
          
        }
        &.icon-room {
          a {
            svg {
              fill: transparent;
              stroke: #005DAA;
              path {
                fill: transparent;
                stroke: #005DAA;

              }
            }
          }
        }
        &:hover {
          & > a {
            background-color: hsla(210, 100%, 96%, 0.5);
          }
        }
      }
    }
  }
}
.show-expand-aside
aside.aside-bar {
  width: 90px;
  transition: all 0.3s ease-in-out;
  .header  {
    a.image {
      .large-logo {
        display: none;
      }
      .small-logo {
        display: block;
        width: 100%;
      }
    }
  }
  .body-aside-bar {
    
    ul {
      overflow-y: unset;
      li {
        a {
          .text {
            display: none;
          }
          &[aria-expanded="false"] {
            &::after {
              content: '\f0da';
              inset-inline-end: 0;
            }
          }
          &[aria-expanded="true"] {
            &::after {
              content: '\f0da';
              inset-inline-end: 0;
            }
          }
        }
        &.item-collapse {
          position: relative;
          &:hover {
            .collapse {
              display: block;
              position: absolute;
              top: 0px;
              inset-inline-start: 87%;
              background-color: rgb(255, 255, 255);
              width: 200px;
              box-shadow: 0 0 15px rgb(0 0 0 / 19%);
              border-radius: 5px;
              .text {
                display: block;
              }
            }
          }
          .collapse {
            &.show {
              display: block;
              position: absolute;
              top: 0px;
              inset-inline-start: 87%;
              background-color: rgb(255, 255, 255);
              width: 200px;
              box-shadow: 0 0 15px rgb(0 0 0 / 19%);
              border-radius: 5px;
              .text {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  // &:hover {
  //   width: 300px;
  //   .header {
  //     a.image {
  //       .large-logo {
  //         display: block;
  //       }
  //       .small-logo {
  //         display: none;
  //       }
  //     }
  //   }
  //   .body-aside-bar {
  //     ul {
  //       overflow-y: unset;
  //       li {
  //         a {
  //           .text {
  //             display: block;
  //           }
  //         }
  //       }
  //     }
  //   }
    
  // }
}
@media (max-width: 1399.98px) { 
  aside.aside-bar {
    width: 90px;
    transition: all 0.3s ease-in-out;
    .header  {
      a.image {
        .large-logo {
          display: none;
        }
        .small-logo {
          display: block;
          width: 100%;
        }
      }
    }
    .body-aside-bar {
      
      ul {
        overflow-y: unset;
        li {
          a {
            .text {
              display: none;
            }
            &[aria-expanded="false"] {
              &::after {
                content: '\f0da';
                inset-inline-end: 0;
              }
            }
            &[aria-expanded="true"] {
              &::after {
                content: '\f0da';
                inset-inline-end: 0;
              }
            }
          }
          &.item-collapse {
            position: relative;
            &:hover {
              .collapse {
                display: block;
                position: absolute;
                top: 0px;
                inset-inline-start: 87%;
                background-color: rgb(255, 255, 255);
                width: 200px;
                box-shadow: 0 0 15px rgb(0 0 0 / 19%);
                border-radius: 5px;
                .text {
                  display: block;
                }
              }
            }
            .collapse {
              &.show {
                display: block;
                position: absolute;
                top: 0px;
                inset-inline-start: 87%;
                background-color: rgb(255, 255, 255);
                width: 200px;
                box-shadow: 0 0 15px rgb(0 0 0 / 19%);
                border-radius: 5px;
                .text {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    
  }
  .show-expand-aside
aside.aside-bar {
  width: 300px;
  .header  {
    a.image {
      .large-logo {
        display: block;
      }
      .small-logo {
        display: none;
        width: 100%;
      }
    }
  }
  .body-aside-bar {
    
    ul {
      overflow-y: unset;
      li {
        a {
          .text {
            display: block;
          }
          &[aria-expanded="false"] {
            &::after {
              content: '\f0da';
              inset-inline-end: 0;
            }
          }
          &[aria-expanded="true"] {
            &::after {
              content: '\f0da';
              inset-inline-end: 0;
            }
          }
        }
        &.item-collapse {
          position: static;
          &:hover {
            .collapse {
              display: block;
              position: static;
              top: unset;
              inset-inline-start: unset;
              background-color: rgb(255, 255, 255);
              width: 200px;
              box-shadow: none;
              border-radius: 5px;
              .text {
                display: block;
              }
            }
          }
          .collapse {
            &.show {
              display: block;
              position: static;
              top: unset;
              inset-inline-start: unset;
              background-color: rgb(255, 255, 255);
              width: 200px;
              box-shadow: none;
              border-radius: 5px;
              .text {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
 }
 @media (max-width: 767.98px) { 
  aside.aside-bar {
    width: 100%;
    transition: all 0.3s ease-in-out;
    top:75px;
    inset-inline-start: -100%;
    .header  {
      a.image {
        .large-logo {
          display: block;
        }
        .small-logo {
          display: none;
          width: 100%;
        }
      }
    }
    .body-aside-bar {
      
      ul {
        overflow-y: unset;
        li {
          a {
            .text {
              display: block;
            }
            &[aria-expanded="false"] {
              &::after {
                content: '\f0da';
                inset-inline-end: 0;
              }
            }
            &[aria-expanded="true"] {
              &::after {
                content: '\f0da';
                inset-inline-end: 0;
              }
            }
          }
          &.item-collapse {
            position: relative;
            &:hover {
              .collapse {
                display: block;
                position: absolute;
                top: 0px;
                inset-inline-start: 87%;
                background-color: rgb(255, 255, 255);
                width: 200px;
                box-shadow: 0 0 15px rgb(0 0 0 / 19%);
                border-radius: 5px;
                .text {
                  display: block;
                }
              }
            }
            .collapse {
              &.show {
                display: block;
                position: absolute;
                top: 0px;
                inset-inline-start: 87%;
                background-color: rgb(255, 255, 255);
                width: 200px;
                box-shadow: 0 0 15px rgb(0 0 0 / 19%);
                border-radius: 5px;
                .text {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
     
    
  }
  .show-expand-aside aside.aside-bar {
    inset-inline-start: 0;
    width: 100%;
    .header  {
      a.image {
        .large-logo {
          display: block;
        }
        .small-logo {
          display: none;
          width: 100%;
        }
      }
    }
    .body-aside-bar {
      
      ul {
        overflow-y: unset;
        li {
          a {
            .text {
              display: block;
            }
            &[aria-expanded="false"] {
              &::after {
                content: '\f0da';
                inset-inline-end: 0;
              }
            }
            &[aria-expanded="true"] {
              &::after {
                content: '\f0da';
                inset-inline-end: 0;
              }
            }
          }
          &.item-collapse {
            position: relative;
            &:hover {
              .collapse {
                display: block;
                position: absolute;
                top: 0px;
                inset-inline-start: 87%;
                background-color: rgb(255, 255, 255);
                width: 200px;
                box-shadow: 0 0 15px rgb(0 0 0 / 19%);
                border-radius: 5px;
                .text {
                  display: block;
                }
              }
            }
            .collapse {
              &.show {
                display: block;
                position: absolute;
                top: 0px;
                inset-inline-start: 87%;
                background-color: rgb(255, 255, 255);
                width: 200px;
                box-shadow: 0 0 15px rgb(0 0 0 / 19%);
                border-radius: 5px;
                .text {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
    
 }