.btn-outline-master {
  // background-color: #fff;
  border: 1px solid $mColor;
  color: $mColor;
  transition: all 0.4s ease-in-out;
}
.btn-outline-master:hover,
.btn-outline-master.active {
  background-color: $mColor;
  color: #fff;
  // box-shadow: 1px 3px 5px rgba(#000, 0.2);
}
.btn-master {
  background-color: $mColor;
  color: #fff;
}
.btn-master:hover {
  background-color: #077ee1;
  box-shadow: 1px 3px 5px rgba(#000, 0.2);
  color: #fff;
}

.bg-outline-open {
  background-color: #fff;
  border: 1px solid #FADEC9;;
  color: #333;;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.bg-outline-open:hover,
.bg-outline-open.active {
  background-color: #FADEC9;
  border: 1px solid #fff;
  color: #333;
}
.bg-outline-process {
  background-color: #fff;
  border: 1px solid #DBEDDB;
  color: #333;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.bg-outline-process:hover,
.bg-outline-process.active {
  background-color: #DBEDDB;
  border: 1px solid #fff;
  color: #333;
}
.bg-outline-Completed {
  background-color: #fff;
  border: 1px solid #D3E5EF;
  color: #333;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.bg-outline-Completed:hover,
.bg-outline-Completed.active {
  background-color: #D3E5EF;
  border: 1px solid #fff;
  color: #333;
}
.bg-outline-Hold {
  background-color: #fff;
  border: 1px solid #FFE2DD;;
  color: #333;;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.bg-outline-Hold:hover,
.bg-outline-Hold.active {
  background-color: #FFE2DD;;
  border: 1px solid #fff;
  color: #333;
}
.bg-outline-Closed {
  background-color: #fff;
  border: 1px solid #ECF7E8;;
  color: #333;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.bg-outline-Closed:hover,
.bg-outline-Closed.active {
  background-color: #ECF7E8;;
  border: 1px solid #fff;
  color: #333;
}
