- var titlePage = 'Staff Management';
doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          .HomeDashboard
            .container-fluid 
              .row           
                .col-lg-12.mb-4
                  .overview-Orders
                    h1.text-center.mb-3 Add new User
                    .container-fluid 
                      .row.justify-content-center
                        .col-lg-5.col-md-6.col-sm-12.mb-3 
                          .form-group
                            label(for='') First name
                            input#exampleInputEmail1.form-control(type='text')
                        .col-lg-5.col-md-6.col-sm-12.mb-3 
                          .form-group
                            label(for='') Last name
                            input#exampleInputEmail1.form-control(type='text')
                        .col-lg-5.col-md-6.col-sm-12.mb-3 
                          .form-group
                            label(for='') Email
                            input#exampleInputEmail1.form-control(type='email')
                        .col-lg-5.col-md-6.col-sm-12.mb-3 
                          .form-group
                            label(for='') Role
                            select.form-select(aria-label='Default select example')
                              option(selected='') Admin
                              option(value='1') Supervisor
                              option(value='2') Employ
                        .col-lg-10.col-md-12.col-sm-12.mb-2
                          h4 Departments
                          .group-button 
                            span.btn.mx-2.rounded-pill.btn-outline-master.mb-3.active Maintenance
                            span.btn.mx-2.rounded-pill.btn-outline-master.mb-3 Reception
                            span.btn.mx-2.rounded-pill.btn-outline-master.mb-3 Delivery
                            span.btn.mx-2.rounded-pill.btn-outline-master.mb-3 Procurement
                        .col-lg-10.col-md-12.col-sm-12.d-flex.mb-2 
                          a.btn.btn-primary.w-100.rounded-pill(href="" data-bs-toggle="modal" data-bs-target="#AddUser")  Add
                    

  
                  
      //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="../assets/js/ajaxLoad.js") 
    
      



