doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .master-home.category-hotel
      //- Start Nav Bar
      nav.navbar.navbar-expand-lg
        .container
          a.navbar-brand(href='#') 
            img(src="./assets/images/Logo.png", alt="logo")
          
          nav.navbar-user.d-flex.align-items-center 
            .image.me-2 
              img(src="./assets/images/user.png", alt="" height='65')
            a.user-settings(href="ProfileSettings.html")
              i.fa-solid.fa-gear
            .body-navbar-user  
              .text.fw-bold Hassan
              a(href="login.html")  
                span.text-black Sign out
                i.fa-solid.fa-right-from-bracket.ms-2.text-primary

      //- End Nav Bar      
      //- start Content category hotel
      section.content-category-hotel 
        .container 
          .row 
            .col-lg-4.col-md-6.col-sm-6 
              a.category-item(href="LayoutDashboard.html") 
                 
                  .image 
                    img(src="./assets/images/Svg/dashboard.svg", alt="")
                  
                  .heder-category-item  Dashboard 
            .col-lg-4.col-md-6.col-sm-6 
              a.category-item(href="") 
                
                  .image 
                    img(src="./assets/images/Svg/RoomInspection.svg", alt="")
                  .heder-category-item  Room Inspection 
            .col-lg-4.col-md-6.col-sm-6 
              a.category-item(href="") 
                
                  .image 
                    img(src="./assets/images/Svg/ServiceOrders.svg", alt="")

                  .heder-category-item  Service Orders
            .col-lg-4.col-md-6.col-sm-6 
              a.category-item(href="") 
                
                  .image 
                    img(src="./assets/images/Svg/StaffManagement.svg", alt="")

                  .heder-category-item  Staff Management
            .col-lg-4.col-md-6.col-sm-6 
              a.category-item(href="") 
                
                  .image 
                    img(src="./assets/images/Svg/Items.svg", alt="")

                  .heder-category-item  Items
            .col-lg-4.col-md-6.col-sm-6 
              a.category-item(href="") 
                
                  .image 
                    img(src="./assets/images/Svg/Settings.svg", alt="")

                  .heder-category-item  Settings

      //- End Content category hotel

    include includes/script.pug 



