doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        //- include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          //- Start Create Order
          .Create-Order
            .container 
              .row 
                .col-lg-12 
                  //- Start Create Order
                  .Create-Order.mt-4
                    .container-fluid 
                      .row.justify-content-center
                        .col-lg-10 
                          .card-master.mb-4
                            .title-card.position-relative.text-center
                              a.position-absolute.top-0.start-0(href="CreateOrderGeneralAddItem.html")
                                i.fa-solid.fa-arrow-left-long
                              h4.mb-4 Assignees
                          .card-master.mb-4    
                            .body-card
                              .d-flex.justify-content-between.flex-wrap.mb-4 
                                h4 Blanket (5)
                                .group-icon.d-flex
                                  a.btn.btn-outline-primary.mx-2(href='' data-bs-toggle="modal" data-bs-target="#ChangeAssignee") 
                                    i.fa-solid.fa-pencil.fa-fw.me-2  
                                    | Edit
                                  a.btn.btn-outline-danger(type='button').mx-2 
                                    i.fa-regular.fa-trash-can.fa-fw.me-2 
                                    | Remove
                              .container-fluid
                                .row
                                  .col-lg-8.col-md-12.col-sm-12.mb-4.p-0 
                                    h5.mb-4 Department
                                    .group-button 
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2.active Maintenance
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Reception
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Delivery
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Procurement
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Maintenance
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Reception
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Delivery
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Procurement
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Maintenance
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Reception
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Delivery
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-2 Procurement
                                  .col-lg-4.col-md-12.col-sm-12.mb-4 
                                    label.mb-4(for="")  Assignee
                                    select.form-select.select-color(aria-label='Default select example')
                                      option(selected='') Katef
                                      option(value='1') Ali 
                                      option(value='2') Alaa
                                      option(value='3') Amer

                                    //- .label-Assignee
                                    //-   .icon 
                                    //-     span K
                                    //-   .text 
                                  
                                
                          .card-master.mb-4
                            
                            .body-card
                              .d-flex.justify-content-between.flex-wrap.mb-4 
                                h4 Water Bottles (3)
                                .group-icon.d-flex
                                  a.btn.btn-outline-primary.mx-2(href='' data-bs-toggle="modal" data-bs-target="#ChangeAssignee") 
                                    i.fa-solid.fa-pencil.fa-fw.me-2  
                                    | Edit
                                  button.btn.btn-outline-danger(type='button').mx-2 
                                    i.fa-regular.fa-trash-can.fa-fw.me-2 
                                    | Remove
                              .container-fluid
                                .row
                                  .col-lg-8.col-md-12.col-sm-12.mb-4.p-0 
                                    h5.mb-4 Department
                                    .group-button 
                                      select.form-select.select-color.w-50(aria-label='Default select example')
                                        option(selected='') Maintenance
                                        option(value='1') Reception 
                                        option(value='2') Delivery
                                        option(value='3') Procurement
                                      
                                  .col-lg-4.col-md-12.col-sm-12.mb-4 
                                    h5.mb-4 Assignee
                                    .label-Assignee
                                      .icon 
                                        span R
                                      .text Rohana
                                  
                                
                          .card-master.mb-4
                            
                            .body-card
                              .d-flex.justify-content-between.flex-wrap.mb-4 
                                h4 Cold Drinks (6)
                                .group-icon.d-flex
                                  a.btn.btn-outline-primary.mx-2(href='' data-bs-toggle="modal" data-bs-target="#ChangeAssignee") 
                                    i.fa-solid.fa-pencil.fa-fw.me-2  
                                    | Edit
                                  button.btn.btn-outline-danger(type='button').mx-2 
                                    i.fa-regular.fa-trash-can.fa-fw.me-2 
                                    | Remove
                              .container-fluid
                                .row
                                  .col-lg-8.col-md-12.col-sm-12.mb-4.p-0 
                                    h5.mb-4 Department
                                    .group-button 
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-3.active Maintenance
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-3 Reception
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-3 Delivery
                                      span.btn.mx-2.rounded-pill.btn-outline-master.mb-3 Procurement
                                  .col-lg-4.col-md-12.col-sm-12.mb-4 
                                    h5.mb-4 Assignee
                                    .label-Assignee
                                      .icon 
                                        span R
                                      .text Rohana
                                  
                                
                                  
                          a.btn.btn-dark.d-block.w-100.mb-5.p-3(href='button' data-bs-toggle="modal" data-bs-target="#OrderPlaced") Place Order
        



                    //- End Create Order
                  
   
            


                    //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="../assets/js/ajaxLoad.js") 
    
      



     
//- End Create Order

