doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        //- include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          //- Start Create Order
          .Create-Order
            .container-fluid 
              .row 
                .col-lg-12 
                  //- Start Create Order
                  .Create-Order.GeneralAddItem.mt-4
                    .container-fluid 
                      .row 
                        .col-lg-12 
                          .card-master
                            .title-card.position-relative.text-center
                              a.position-absolute.top-0.start-0(href="LayoutDashboard.html")
                                i.fa-solid.fa-arrow-left-long
                              h4.mb-4 Select Item
                            .body-card
                              .container-fluid 
                                .row.justify-content-center 
                                  .col-lg-9.col-md-10.col-sm-12
                                    .add-item-order.mb-4 
                                      .row
                                        //- .col-lg-6.col-md-6.col-sm-12.mb-3
                                        //-   .form-floating
                                        //-     select#floatingSelect.form-select(aria-label='Floating label select example')
                                        //-       option(selected='') General
                                        //-       option(value='1') Room
                                        //-     label(for='floatingSelect') Select Category
                                        //- .col-lg-6.col-md-6.col-sm-12.mb-3
                                        //-   .form-floating
                                        //-     select#floatingSelect.form-select(aria-label='Floating label select example')
                                        //-       option(selected='') Room 101
                                        //-       option(value='1') Room 102
                                        //-       option(value='2') Room 103
                                        //-       option(value='3') Room 104
                                        //-       option(value='4') Room 105
                                        //-       option(value='5') Room 106
                                        //-     label(for='floatingSelect') Select Location
                                      .row
                                        .col-lg-4.col-md-4.col-sm-12.mb-3
                                          .form-group
                                            label(for='floatingSelect') Select Location
                                            select#floatingSelect.form-select.js-example-templating(aria-label='Floating label select example')
                                              option(selected='') Room 101
                                              option(value='1') Room 102
                                              option(value='2') Room 103
                                              option(value='3') Room 104
                                              option(value='4') Room 105
                                              option(value='5') Room 106
                                            
                                        .col-lg-4.col-md-4.col-sm-12.mb-3
                                          .form-group
                                            label(for='floatingSelect') Select Items
                                            select#selectItem.form-select.form-control-lg.js-example-templating
                                              option Cold Drinks
                                              option Cold Tea
                                              option Cold Can
                                              option Blanket
                                              option Cold Drinks 
                                              option Water Bottles
                                              option Add New
                                              
                                        .col-lg-4.col-md-4.col-sm-12.mb-3      
                                          .increment-item    
                                            .input-group
                                              button#decrementButton.btn.btn-outline-master.btn-decrease(type='button') 
                                                i.fa-solid.fa-minus
                                              input#inputCount.form-control(type='text',  min="1", max="99" value="1")
                                              button#incrementButton.btn.btn-outline-master.btn-increase(type='button' ) 
                                                i.fa-solid.fa-plus
                                      .mb-3
                                        textarea#exampleFormControlTextarea1.form-control(rows='3' placeholder='Notes')
                                      .mb-3 
                                        button#AddOrder.btn.btn-master.w-100 Add
                                    h5.mb-4 Selected Items: 
                                    #contentValue.d-flex.flex-wrap.mb-4
                                      
                                    a.btn.btn-dark.d-block.w-100.p-3(href='CreateOrderGeneralAssignees.html') Next

        



                    //- End Create Order
                  
   
            


                    //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="../assets/js/ajaxLoad.js") 
    
      



     
//- End Create Order

