doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home.time-management
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          //- Start Create Order
          .Create-Order
            .container-fluid 
              .row 
                .col-lg-12 
                  //- Start Create Order
                  .Create-Order
                    .container-fluid 
                      .row 
                        .col-lg-12 
                          .card-master
                            .title-card.position-relative.text-center
                              a.position-absolute.top-0.start-0(href="TimeManagement.html")
                                i.fa-solid.fa-arrow-left-long
                              h4.mb-4 Credits Rooms
                            .body-card
                              .container-fluid 
                                .row.justify-content-center 
                                  .col-lg-9.col-md-10.col-sm-12
                                    .row 
                                      .col-lg-6.col-md-6.col-sm-12.mb-4
                                        .form-group
                                          label(for='exampleFormControlSelect1') Location
                                          select#exampleFormControlSelect1.form-select
                                            option General
                                            option Room
                                            

                                      .col-lg-6.col-md-6.col-sm-12.mb-4
                                        .form-group
                                          label(for='exampleFormControlSelect1') Room number
                                          select#exampleFormControlSelect1.form-select
                                            option Room 101
                                            option Room 102
                                            option Room 103
                                            option Room 104
                                            option Room 105
                                            option Room 106
                                            option Room 107
                                            option Room 108
                                            option Room 109
                                            option Room 1010

                                    h5.mb-4 Selected Items: 
                                    .d-flex.flex-wrap.mb-4 
                                      span.badge-item.mx-2.mb-3
                                        | Room 101
                                        span.icon-exit
                                          i.fa-solid.fa-xmark.fa-fw
                                      span.badge-item.mx-2.mb-3
                                        | Room 103
                                        span.icon-exit
                                          i.fa-solid.fa-xmark.fa-fw
                                      span.badge-item.mx-2.mb-3
                                        | Room 102
                                        span.icon-exit
                                          i.fa-solid.fa-xmark.fa-fw
                                      span.badge-item.mx-2.mb-3
                                        | Room 111
                                        span.icon-exit
                                          i.fa-solid.fa-xmark.fa-fw
                                      span.badge-item.mx-2.mb-3
                                        | Room 112
                                        span.icon-exit
                                          i.fa-solid.fa-xmark.fa-fw
                                      span.badge-item.mx-2.mb-3
                                        | Room 130
                                        span.icon-exit
                                          i.fa-solid.fa-xmark.fa-fw
                                      span.badge-item.mx-2.mb-3
                                        | Room 215
                                        span.icon-exit
                                          i.fa-solid.fa-xmark.fa-fw
                                      span.badge-item.mx-2.mb-3
                                        | Room  117
                                        span.icon-exit
                                          i.fa-solid.fa-xmark.fa-fw
                                    .add-item-order 
                                      
                                        table.table.table-striped.table-bordered  
                                          thead 
                                            tr.border-0 
                                              th.bg-transparent.w-50.border-0   Name
                                              th.bg-transparent.border-0  Credits
                                              th.bg-transparent.border-0  Time
                                          tbody 
                                            tr.bg-transparent 
                                              td.align-middle.bg-transparent    Cleaned 
                                              td.align-middle.bg-transparent    
                                                input.form-control(type="number", name="" )
                                              td.align-middle.bg-transparent     
                                                .input-group
                                                    input.form-control(type='number' , name="") 
                                                    span#basic-addon2.input-group-text Mins
                                            tr 
                                              td.align-middle    Stripped 
                                              td.align-middle    
                                                input.form-control(type="number", name="" )
                                              td.align-middle     
                                                .input-group
                                                    input.form-control(type='number' , name="") 
                                                    span#basic-addon2.input-group-text Mins
                                            tr.bg-transparent 
                                              td.align-middle.bg-transparent    For inspection 
                                              td.align-middle.bg-transparent    
                                                input.form-control(type="number", name="" )
                                              td.align-middle.bg-transparent     
                                                .input-group
                                                    input.form-control(type='number' , name="") 
                                                    span#basic-addon2.input-group-text Mins
                                            tr 
                                              td.align-middle    Inspected 
                                              td.align-middle    
                                                input.form-control(type="number", name="" )
                                              td.align-middle     
                                                .input-group
                                                    input.form-control(type='number' , name="") 
                                                    span#basic-addon2.input-group-text Mins
                                            tr.bg-transparent 
                                              td.align-middle.bg-transparent    DND 
                                              td.align-middle.bg-transparent    
                                                input.form-control(type="number", name="" )
                                              td.align-middle.bg-transparent     
                                                .input-group
                                                    input.form-control(type='number' , name="") 
                                                    span#basic-addon2.input-group-text Mins

                                        .d-flex.justify-content-end
                                            a.btn.btn-master.rounded-pill.w-25(href='TimeManagement.html') Save

        



                    //- End Create Order
                  
   
            


                    //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="../assets/js/ajaxLoad.js") 
    
      



     
//- End Create Order

