- var titlePage = 'Inspection';
doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          //- Start Create Order
          .Create-Order
            .container-fluid 
              .row 
                .col-lg-12 
                  //- Start Create Order
                  .Create-Order
                    .container-fluid 
                      .row.justify-content-center
                        .col-lg-8 
                          .button-room.card-master
                            .title-card.position-relative.text-center
                              
                              h4.mb-5 Select Location                                            
                              
                            .body-card
                              .col-lg-12.col-md-12.col-sm-12
                                #exampleDataList.mb-3
                                  input.form-control(list='datalistOptions', placeholder='Type to search...')
                                  datalist#datalistOptions
                                    option(value='Room 101')
                                    option(value='Room 102')
                                    option(value='Room 103')
                                    option(value='Room 104')
                                    option(value='Room 105')
                              //- .group-button.d-flex.justify-content-center.flex-wrap
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 101
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 102
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 103
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 104
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 105
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 106
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 107
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 108
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 109
                              //-   a.btn-outline-master.btn.rounded-pill.col-lg-2.col-md-4.col-sm-6.mx-2.mb-3(href="steps.html") Room 1010

          //- End Create Order
                  
   
            


      //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="../assets/js/ajaxLoad.js") 
    
      



     
//- End Create Order

