- var titlePage = 'Dashboard';
doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          include ./HomeDashboard.pug
          //- include ./CreateOrder.pug
            


      //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="./assets/js/apexcharts.min.js") 
    script(src="./assets/js/chartFun.js") 
    //- script(src="../assets/js/ajaxLoad.js") 
    script(src="https://nightly.datatables.net/js/jquery.dataTables.js") 
    script(src="../assets/js/ajaxLoad.js") 
    script.
      $(document).ready( function () {
        var table = $('#dataTables').DataTable();
      } );

      



