- var titlePage = 'Service Orders';
doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          .HomeDashboard
            .container-fluid 
              .row           
                .col-lg-12.mb-4
                  .overview-Orders
                    h4.text-center.fw-bold.text-primary.mb-4 Password Settings
                    
                    .container-fluid 
                      .row
                        .col-lg-12.col-md-12.col-sm-12.mb-4.d-flex.justify-content-center
                          .col-lg-6.col-md-12.col-sm-12
                            .form-group
                              label(for='') Current Password
                              input.form-control(type='password', aria-describedby=' ',  placeholder="*** *** ****")
                        .col-lg-12.col-md-12.col-sm-12.mb-4.d-flex.justify-content-center
                          .col-lg-6.col-md-12.col-sm-12
                            .form-group
                              label(for='') New Password
                              input.form-control(type='password', aria-describedby=' ',  placeholder="*** *** ****")
                        .col-lg-12.col-md-12.col-sm-12.mb-4.d-flex.justify-content-center
                          .col-lg-6.col-md-12.col-sm-12
                            .form-group
                              label(for='') Confirm New Password
                              input.form-control(type='password', aria-describedby=' ',  placeholder="*** *** ****")
                        
                        .col-lg-12.col-md-12.col-sm-12.mb-4.d-flex.justify-content-center
                          .col-lg-6.col-md-12.col-sm-12
                            a.btn.btn-master.rounded-pill.d-block.w-100(href="#" data-bs-toggle="modal" data-bs-target="#PasswordChanged")  Update Password
                        

      //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="../assets/js/ajaxLoad.js") 
    
      



