- var titlePage = 'Service Orders';
doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          .HomeDashboard
            .container-fluid 
              .row           
                .col-lg-12.mb-4
                  .overview-Orders
                    .header-overview.mb-3 
                      .title-head.col-lg-4.col-md-3.col-sm-12 My Orders
                      .group-overview.col-lg-8.col-md-9.col-sm-12 
                        ul
                          li.bg-open  
                            .number 21
                            .label
                              .icon 
                                i.fa-regular.fa-circle-play
                              .text Open

                          li.bg-process
                            .number 15
                            .label
                              .icon 
                                i.fa-regular.fa-clock
                              .text In process

                          li.bg-Completed 
                            .number 24
                            .label
                              .icon 
                                i.fa-regular.fa-circle-check
                              .text Completed

                          li.bg-Hold
                            .number 09
                            .label
                              .icon 
                                i.fa-regular.fa-circle-pause
                              .text Hold

                          li.bg-Closed 
                            .number 125
                            .label
                              .icon 
                                i.fa-solid.fa-lock
                              .text Closed
                    table.table.table-hover.table-responsive
                      thead
                        tr
                          th(scope='col') Order no.
                          th(scope='col') Location
                          th(scope='col') Guest name
                          th(scope='col') Accessories
                          th(scope='col') Assigned by
                          th(scope='col') Run time
                          th(scope='col') Status
                      tbody
                        tr
                          td(data-label="Order no.") 527
                          td(data-label="Location") Room 101
                          td(data-label="Guest name") Hussain Abad Ali
                          td(data-label="Accessories") Water, Blanket
                          td(data-label="Assigned to") 
                            .user-card.d-flex.align-items-center 
                              .image.me-1
                                img(src="./assets/images/photoUser.png", alt="" width="25")
                              .text Katef
                          td(data-label="Run time") 8h
                          td(data-label="Status") 
                            a.badge.bg-open.text-dark.rounded-pill(href="informationRowTable.html") Open
                        tr
                          td(data-label="Order no.") 527
                          td(data-label="Location") Room 101
                          td(data-label="Guest name") Hussain Abad Ali
                          td(data-label="Accessories") Water, Blanket
                          td(data-label="Assigned to") 
                            .user-card.d-flex.align-items-center 
                              .image.me-1
                                img(src="./assets/images/photoUser.png", alt="" width="25")
                              .text Katef
                          td(data-label="Run time") 8h
                          td(data-label="Status") 
                            span.badge.bg-Hold.text-dark.rounded-pill Hold
                        tr
                          td(data-label="Order no.") 527
                          td(data-label="Location") Room 101
                          td(data-label="Guest name") Hussain Abad Ali
                          td(data-label="Accessories") Water, Blanket
                          td(data-label="Assigned to") 
                            .user-card.d-flex.align-items-center 
                              .image.me-1
                                img(src="./assets/images/photoUser.png", alt="" width="25")
                              .text Katef
                          td(data-label="Run time") 8h
                          td(data-label="Status") 
                            span.badge.bg-Closed.text-dark.rounded-pill Closed
                        tr
                          td(data-label="Order no.") 527
                          td(data-label="Location") Room 101
                          td(data-label="Guest name") Hussain Abad Ali
                          td(data-label="Accessories") Water, Blanket
                          td(data-label="Assigned to") 
                            .user-card.d-flex.align-items-center 
                              .image.me-1
                                img(src="./assets/images/photoUser.png", alt="" width="25")
                              .text Katef
                          td(data-label="Run time") 8h
                          td(data-label="Status") 
                            span.badge.bg-process.text-dark.rounded-pill In process
                        tr
                          td(data-label="Order no.") 527
                          td(data-label="Location") Room 101
                          td(data-label="Guest name") Hussain Abad Ali
                          td(data-label="Accessories") Water, Blanket
                          td(data-label="Assigned to") 
                            .user-card.d-flex.align-items-center 
                              .image.me-1
                                img(src="./assets/images/photoUser.png", alt="" width="25")
                              .text Katef
                          td(data-label="Run time") 8h
                          td(data-label="Status") 
                            span.badge.bg-Completed.text-dark.rounded-pill Completed
                        tr
                          td(data-label="Order no.") 527
                          td(data-label="Location") Room 101
                          td(data-label="Guest name") Hussain Abad Ali
                          td(data-label="Accessories") Water, Blanket
                          td(data-label="Assigned to") 
                            .user-card.d-flex.align-items-center 
                              .image.me-1
                                img(src="./assets/images/photoUser.png", alt="" width="25")
                              .text Katef
                          td(data-label="Run time") 8h
                          td(data-label="Status") 
                            span.badge.bg-Completed.text-dark.rounded-pill Open
                    .d-flex.justify-content-center 
                      nav.pagination-nav(aria-label='...')
                        ul.pagination
                          li.page-item.disabled
                            span.page-link 
                              i.fa-solid.fa-chevron-left
                          li.page-item
                            a.page-link(href='#') 1
                          li.page-item.active(aria-current='page')
                            span.page-link 2
                          li.page-item
                            a.page-link(href='#') 3
                          li.page-item
                            a.page-link(href='#') 
                              i.fa-solid.fa-chevron-right

            


      //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="../assets/js/ajaxLoad.js") 
    
      



