- var titlePage = 'Inspection';
doctype html
html(lang="en")
  head
    include includes/head.pug
    //- link(rel="stylesheet", href="../assets/css/jquery-steps.css")
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel 
        //- Start Filter
        include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          //- Start Create Order
          .Create-Order
            .container-fluid 
              .row 
                .col-lg-12 
                  //- Start Create Order
                  .Create-Order
                    .container-fluid 
                      .row 
                        .col-lg-12 
                          .button-room.card-master
                            #demo.step-app.mb-5
                              ul.step-steps.mb-5
                                li.active(data-step-target='step1')
                                  .content-text
                                    span.icon 01 
                                    span General
                                li(data-step-target='step2')
                                  .content-text
                                    span.icon 02
                                    span Bathroom 1 
                                li(data-step-target='step3')
                                  .content-text
                                    span.icon 03
                                    span Bathroom 2
                                li(data-step-target='step4')
                                  .content-text
                                    span.icon 04
                                    span Bathroom 3
                                li(data-step-target='step5')
                                  .content-text
                                    span.icon 05
                                    span Bathroom 4
                                li(data-step-target='step6')
                                  .content-text
                                    span.icon 06
                                    span Submit
                              .step-content
                                .step-tab-panel.active(data-step='step1')
                                  h3.text-center.text-primary.mb-4 General Cleanliness
                                  h1.text-center.mb-5 1. Is the floor Clean?
                                  .d-flex.justify-content-center 
                                    button.btn.mx-2.btn-primary.p-2.px-5.rounded-pill Yes
                                    button.btn.mx-2.btn-outline-master.p-2.px-5.rounded-pill No

                                .step-tab-panel(data-step='step2')
                                  h3.text-center.text-primary.mb-4 General Cleanliness
                                  h1.text-center.mb-5 2. Are the windows and mirrors clean?
                                  .d-flex.justify-content-center 
                                    button.btn.mx-2.btn-primary.p-2.px-5.rounded-pill Yes
                                    button.btn.mx-2.btn-outline-master.p-2.px-5.rounded-pill No
                                .step-tab-panel(data-step='step3')
                                  h3.text-center.text-primary.mb-4 General Cleanliness
                                  h1.text-center.mb-5 3. Is the furniture clean?
                                  .d-flex.justify-content-center 
                                    button.btn.mx-2.btn-primary.p-2.px-5.rounded-pill Yes
                                    button.btn.mx-2.btn-outline-master.p-2.px-5.rounded-pill No
                                .step-tab-panel(data-step='step4')
                                  h3.text-center.text-primary.mb-4 General Cleanliness
                                  h1.text-center.mb-5 4. Are the trash cans are empty and clean?
                                  .d-flex.justify-content-center 
                                    button.btn.mx-2.btn-primary.p-2.px-5.rounded-pill Yes
                                    button.btn.mx-2.btn-outline-master.p-2.px-5.rounded-pill No
                                .step-tab-panel(data-step='step5')
                                  h3.text-center.text-primary.mb-4 General Cleanliness
                                  h1.text-center.mb-5 5. Are the trash cans are empty and clean? 
                                  .d-flex.justify-content-center 
                                    button.btn.mx-2.btn-primary.p-2.px-5.rounded-pill Yes
                                    button.btn.mx-2.btn-outline-master.p-2.px-5.rounded-pill No
                                .step-tab-panel(data-step='step6')
                                  h3.text-center.text-primary.mb-4 Submit
                                  h1.text-center.mb-5 Submit your inspection 
                                  .d-flex.justify-content-center 
                                    a.btn.mx-2.btn-primary.p-2.px-5.rounded-pill(data-bs-toggle="modal" data-bs-target="#ConfirmSteps") Submit
                                    button.btn.mx-2.btn-outline-master.p-2.px-5.rounded-pill Cancel
                              //- .step-footer
                              //-   button.step-btn(data-step-action='prev') Previous
                              //-   button.step-btn(data-step-action='next') Next
                              //-   button.step-btn(data-step-action='finish') Finish
                            .row 

                              .col-lg-6
                                .form-group.mb-3
                                  label(for='exampleFormControlTextarea1') Comments
                                  textarea#exampleFormControlTextarea1.form-control.form-Textarea(rows='5')
                              .col-lg-6
                                .form-group.mb-3
                                  label(for='exampleFormControlTextarea1') Photos Attachment (You much attach the photos)
                                  #dragArea.upload-content
                                    //- img#img(src="", alt="")

                                    
                                    input#inputFileUpload(type="file", name="")
                                    .card.w-100.info-view.d-none
                                      .row.g-0.align-items-center
                                        .col-md-2
                                          img#imgPreview.img-fluid.rounded-0.rounded-start.w-100.border-end(src='https://shorturl.at/bpHJ1' alt='...')
                                        .col-md-8
                                          .card-body
                                            h5#title-file.card-title Card title
                                            
                                        .col-md-2.text-center
                                          a#deleteItem.btn.btn-outline-danger  
                                            i.fa-solid.fa-xmark.fa-lg


                                      

                                
          //- End Create Order
                  
   
            


      //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="./assets/js/DragFile.js") 
    script.
      $(document).ready(() => {
        const photoInp = $("#inputFileUpload");
        let file;
      $('#deleteItem').click(function(e) {
        $('.info-view').addClass('d-none');
        photoInp.removeClass('d-none')
      });
      photoInp.change(function(e){
          photoInp.addClass('d-none');
          $('.info-view').removeClass('d-none')
          let info =  photoInp.val().split('\\').pop();
          $('#title-file').append(info)
          file = this.files[0];
          if (file) {
            let reader = new FileReader();
            reader.onload = function (event) {
          $("#imgPreview")
            .attr("src", event.target.result);
          };
            reader.readAsDataURL(file);
          }
        })
        
        
      });


    

    
      



     
//- End Create Order

