- var titlePage = 'Time Management';
doctype html
html(lang="en")
  head
    include includes/head.pug
  body 
    .Dashboard-home
      include includes/headerNavBar.pug
      include includes/asideBar.pug
      //- start Content category hotel
      section.content-category-hotel.time-management 
        //- Start Filter
        include includes/FilterDashboard.pug
        //- End Filter
        //- Start Load Master page 
        #pageMasterLoad
          //- Start Create Order
          .Create-Order
            .container-fluid 
              .row 
                .col-lg-4.col-md-6.col-sm-6 
                  a.category-item(href="CreditsRooms.html") 
                    
                      .image 
                        img(src="./assets/images/Svg/Rooms.svg", alt="")
                      
                      .heder-category-item  Rooms
                .col-lg-4.col-md-6.col-sm-6 
                  a.category-item(href="AddShift.html") 
                    
                      .image 
                        img(src="./assets/images/work-time.svg", alt="")
                      .heder-category-item  Shifts 
                .col-lg-4.col-md-6.col-sm-6 
                  a.category-item(href="ShiftForEmployees.html") 
                    
                      .image 
                        img(src="./assets/images/Svg/add-user.svg", alt="")

                      .heder-category-item  Shift For Employees
                .col-lg-4.col-md-6.col-sm-6 
                  a.category-item(href="AddTasks.html") 
                    
                      .image 
                        img(src="./assets/images/add-task.svg", alt="")

                      .heder-category-item  Add Tasks 
                .col-lg-4.col-md-6.col-sm-6 
                  a.category-item(href="OverviewEmployees.html") 
                    
                      .image 
                        img(src="./assets/images/research.svg", alt="")

                      .heder-category-item  Overview For Employees
                .col-lg-4.col-md-6.col-sm-6 
                  a.category-item(href="ReportTasks.html") 
                    
                      .image 
                        img(src="./assets/images/project-management.svg", alt="")

                      .heder-category-item  Report Tasks

                          


          //- End Create Order
                  
   
            


      //- End Content category hotel
    //- Start Modal
    include includes/modal.pug 
    include includes/script.pug
    script(src="../assets/js/ajaxLoad.js") 
    
      



     
//- End Create Order

