// Start  Information Row Table
.information-Row-Table {
  .card-information-Table {
    .Recent-part {
      background-color: #f7f7f7;
      height: 100%;
      .list-group {
        .list-group-item {
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #b6b6b6;
          background-color: transparent;
          .title {
            color: $mColor;
            font-weight: bold;
          }
          .note {
            font-style: italic;
            color: #878787;
          }
        }
      }
    }
  }
  .users-image {
    .label {
      @media (max-width: 575.98px) {
        text-align: center;
      }
    }
    .created {
      .icon {
        img {
          width: 25px;
          @media (max-width: 991.98px) {
            width: 50px;
          }
          @media (max-width: 575.98px) {
            width: 80px;
          }
        }
      }
      @media (max-width: 575.98px) {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .table-Assignees {
    background-color: #ebf5ff;
    border-radius: 15px;
    margin-block: 15px;
    padding: 15px;
    table,
    tr,
    td,
    th {
      background-color: transparent;
      border: none;
    }
    table {
      tbody {
        tr {
            // border-top: 1px solid rgb(222, 226, 230);
            // border-bottom: 1px solid rgb(222, 226, 230);
            transition: all 0.4s ease;
            td {
              vertical-align: middle;
            }
          &:hover {
            background-color: #d4e7f9;
            // border-top: 1px solid rgb(222, 226, 230);
            // // border-bottom: 1px solid rgb(222, 226, 230);
          }
        }
      }
      .form-check {
        .form-check-input {
          &:checked ~ .form-check-label {
            text-decoration: line-through;
          }
        }
      }
      a {
        font-style: italic;
        color: $mColor;
      }
      .label-table {
        display: flex;
        align-items: center;
        .icon {
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid #a9a9a9;
          margin-inline-end: 10px;
        }
      }
    }
  }
}
.dataTables_wrapper {
  border-color: #f2f2f2;
  .paging_simple_numbers {
    .paginate_button {
      transition: all 0.4s ease-in;
      border-radius: 50%;
      color: $mColor !important;
      min-width: 30px;
      height: 30px;
      padding: 0 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &.previous , &.next {
        content: '';
        position: relative;
        font-size: 0;
        width: 20px;
        top: -5px;
        &::before {
          color: $mColor !important;
          position: absolute;
          font-size: 20px;
          top: 0px;
          inset-inline-start: -1px;
          transition: all 0.4s ease-in;
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          width: 30px;
          height: 30px;
          &:hover {
            background: #bbb !important;
            border-radius: 50% !important;
            border: none !important;
          }
        }
      }
      &.previous {
        &::before {
          content: "\f104";
          
        }
      }
      &.next {
        &::before {
          content: "\f105";
          inset-inline-end: -15px;
        }
      }
      &:hover {
        background: #bbb !important;
        border-radius: 50% !important;
        border: none !important;
      }
      &.current {
        border-radius: 50%;
        background: $mColor !important;
        color: #fff !important;
        border: none !important;
      }
    }
  }
  .dataTables_paginate {
    float: unset;
    text-align: center;
  }
  thead {
    th {
      border-color: #f2f2f2;
    }
  }
  tr {
    td {
      border-color: #eee;
    }
  }
}
// End  Information Row Table
.content-msg {
  background-color: $liteColor;
  border-radius: 15px;
  padding: 20px;
  .card-send {
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-inline-end: 10px;
      border: 1px solid $mColor;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
