.time-management {
    .category-item {
        display: block;
        width: 100%;
        margin: auto;
        background-color: #fff;
        text-align: center;
        margin-bottom: 30px;
        padding: 30px;
        border-radius: 15px;
        transition: all 0.4s ease-in-out;
        .image {
            margin-bottom: 15px;
            img {
                height: 100px;
                transition: all 0.4s ease-in-out;
            }
        }
        .heder-category-item {
            font-weight: bold;
            font-size: 22px;
            transition: all 0.4s ease-in-out;
            color: #333;
        }
        &:hover {
            background-color: #005daa;
            color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            cursor: pointer;
             img {
                filter: brightness(0) invert(1);
            }
            .heder-category-item {
                color: #fff;
            }
        }
    }
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

}

.dataTables_length , .dataTables_filter{
    display: none !important;
}